<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemRentadoMapper">
	<insert parameterType="map" id="registrarAlquilerCliente">
		INSERT INTO VI_ITEMRENTADO SELECT COUNT(*)+100,#{documento},#{item.id},NOW(),#{date},NULL FROM VI_ITEMRENTADO;
	</insert>
	<select id="consultarItemNoEntregados" parameterType="map" resultMap="ItemRentadoResult">
		SELECT ITEM.id as item_id,
		ITEM.nombre as itemnombre,ITEM.descripcion itdescripcion , fechalanzamiento,tarifaxdia,formatorenta,genero,TIPOITEM_id,
		TIPO.id as titemid, TIPO.descripcion as tipodescripcion 
		FROM VI_ITEMRENTADO ITR LEFT JOIN VI_ITEMS ITEM ON ITR.ITEMS_id=ITEM.id LEFT JOIN VI_TIPOITEM TIPO ON ITEM.TIPOITEM_id = TIPO.id
		WHERE ITR.CLIENTES_documento = #{cliente.documento}
	</select>
	<select parameterType="map" id="getItemRentado" resultMap="ItemRentadoResult">
		SELECT ITEM.id as item_id, ITEM.nombre as itemnombre, ITEM.descripcion as itdescripcion, fechalanzamiento,tarifaxdia,formatorenta,genero,
		TIPO.id as titemid, TIPO.descripcion as tipodescripcion
		FROM VI_ITEMS ITEM LEFT JOIN VI_TIPOITEM TIPO ON ITEM.TIPOITEM_id = TIPO.id
		WHERE ITEM.id = #{id} 
	</select>
	<resultMap type='ItemRentado' id='ItemRentadoResult'>
		    <id property='id' column='item_id'/>
		    <result property="fechainiciorenta" column="fechainiciorenta"></result>
		    <result property="fechafinrenta" column="fechafinrenta"></result>     
		    <association property="item" javaType="Item" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper.ItemResult" column='item_id'>
		    </association>
	</resultMap>
</mapper>